<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/Validate_Form.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/custom.js"></script>
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form id="Validate_User" method="post">
            <div class="form-group">
                <label class="control-label">Họ </label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Họ không được để trống</li>
                        <li>Họ từ 2 đến 15 ký tự</li>
                        <li>Không được chứa số</li>
                    </ul>
                </div>
                <input id="Last_Name" name="Last_Name" class="form-control" />
              
            </div>
            <div class="form-group">
                <label class="control-label">Tên</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Tên không được để trống</li>
                        <li>Tên từ 2 đến 15 ký tự</li>
                        <li>Không được chứa số</li>
                    </ul>
                </div>
                <input id="Frist_Name" name="Frist_Name" class="form-control" />
              
            </div>
            <div class="form-group">
                <label class="control-label">Tài khoản</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Tài khoản không được để trống</li>
                        <li>Tài khoản từ 6 đến 25 ký tự</li>
                    </ul>
                </div>
                <input id="UserName" name="UserName" class="form-control" />
               
            </div>
            <div class="form-group">
                <label class="control-label">Mật khẩu</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Mật khẩu không được để trống</li>
                        <li>Mật khẩu từ 8 đến 16 ký tự</li>
                        <li>Mật khẩu gồm chữ hoa, chữ thường và ít nhất một chữ số</li>
                    </ul>
                </div>
                <div class="icon_show_hide_pass">
                    <span class="input-text" onclick="password_show_hide();">
                        <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                    </span>
                </div>
                <input id="Password" name="Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Mật khẩu không được để trống</li>
                        <li>Mật khẩu phải khớp với nhau</li>
                    </ul>
                </div>
                <div class="icon_show_hide_pass">
                    <span class="input-text" onclick="Repassword_show_hide();">
                        <i class="fas fa-eye" id="Reshow_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="Rehide_eye"></i>
                    </span>
                </div>
                <input id="RePassword" name="RePassword" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Địa chỉ không được để trống</li>
                        <li>Địa chỉ phải lớn hơn 10 bao gồm số nhà, quận, huyện</li>
                    </ul>
                </div>
                <input id="Address" name="Address" class="form-control" />
                
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Email không được để trống</li>
                        <li>Phải nhập đúng định dạng Email</li>
                    </ul>
                </div>
                <input id="Email" name="Email" class="form-control" />
                
            </div>
            <div class="form-group">
                <label class="control-label">Điện thoại</label>
                <div class="btn Showrequires">
                    <i class="far fa-question-circle"></i>
                    <ul class="requiresInput">
                        <li>Điện thoại không được để trống</li>
                        <li>Điện thoại nhập đúng định dạng số điện thoại</li>
                    </ul>
                </div>
                <input id="Phone" name="Phone" class="form-control" type="number" />
               
            </div>
            <div class="form-group ">
                <input type="submit" value="Đăng ký" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>
<script>
    function password_show_hide() {
        var pass = document.getElementById("Password");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (pass.type === "password") {
            pass.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            pass.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }
    function Repassword_show_hide() {
        var pass = document.getElementById("RePassword");
        var show_eye = document.getElementById("Reshow_eye");
        var hide_eye = document.getElementById("Rehide_eye");
        hide_eye.classList.remove("d-none");
        if (pass.type === "password") {
            pass.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            pass.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }

</script>