<div class="content-page">

    <!-- Start content -->
    <div class="content">
        
        <div class="container-fluid">
            <div class="row content-box">
                <h5>Duyệt đơn hàng</h5>
            </div>
            <div class="row content-box">

                <div class="col-md-4">

                </div>


            </div>

            <div class="row">
                <div class="col-md-12 content-box">
                    <div id="gridList"></div>
                    <div id="popup"></div>
                </div>

            </div>
        </div>

    </div>
    <!-- END content -->

</div>


<script type="text/javascript">


    $(function () {

        $("#btnAdd").dxButton({
            text: "Thêm",
            icon: "inserttable",
            onClick: function () {
                //Add action
                $("#gridList").dxDataGrid("instance").addRow();
            }
        });

       

    });

    $(document).ready(function () {
        //loadData();
        loadGrid();
    });
    var listDetail;
    var listProduct = @Html.Raw(Json.Serialize(ViewBag.listproduct));
    var listSize = @Html.Raw(Json.Serialize(ViewBag.listsize));

    function FindOrderDetail(id) {
         $.ajax({
            "async": false,
            "crossDomain": true,
            "url": "../Order/GetlstOrderDetail?id=" + id,
            "headers": {
                "Content-Type": "application/json",
                "cache-control": "no-cache"
            },
            "method": "GET",
         }).done(function (result) {
             listDetail = result;
         }).fail(function (xhr) {
             DevExpress.ui.notify("Error Load");
         });
    }
    function loadpopup(e) {
        FindOrderDetail(e.row.key.ID);
        var data = e.row.key;
        var strHtml = $("<tbody/>");

        for (var i = 0; i < listDetail.length; i++) {
            var Pro;
            var Size;
            for (var j = 0; j < listProduct.length; j++) {
                if (listDetail[i].ID_Product == listProduct[j].ID) {
                    Pro = listProduct[j];
                    break;
                }
            }
            for (var j = 0; j < listSize.length; j++) {
                if (listDetail[i].ID_Size == listSize[j].ID) {
                    Size = listSize[j];
                    break;
                }
            }
            var link = "/" + Pro.Image;
            $("<tr/>").append(
                $('<td>  <img src="' + link + '" alt="Alternate Text" /> </td>'),
                $('<td>' + Pro.Name + '</td>'),
                $('<td>' + listDetail[i].Price + '</td>'),
                $('<td>' + Size.Size + '</td>'),
                $('<td>' + listDetail[i].Quality + '</td>'),
                $('<td>' + listDetail[i].PromotionPrice  + '</td>'),
                $('<td>' + listDetail[i].Note  + '</td>'),

            ).appendTo(strHtml);
        }
        var DanhGia = $("#popup").dxPopup({
            showTitle: true,
            title: "Chi tiết hóa đơn",
            dragEnabled: false,
            minWidth: "90%",
            toolbarItems: [{
                    widget: "dxButton",
                    location: "after",
                    toolbar: "bottom",
                    options: {
                        text: "Duyệt",
                        type: "default",                       
                        onClick: function (e) {

                            $.ajax({
                                "async": false,
                                "crossDomain": true,
                                "url": "@Url.Action("UpdatelstOrder", "Order")",
                                "headers": {
                                    "Content-Type": "application/json",
                                    "cache-control": "no-cache"
                                },
                                "method": "POST",
                                "data": JSON.stringify(data),

                            }).done(function (result) {
                                if (result.IsSuccess == 1) {
                                    if (result.Data.Status == 1) {
                                        DanhGia.hide();
                                        $("#gridList").dxDataGrid("instance").refresh();
                                        DevExpress.ui.notify("Duyệt hóa đơn thành công.", "success", 3000);
                                       
                                    }
                                }

                            })

                        }
                    }
                },
                {
                    widget: "dxButton",
                    location: "after",
                    toolbar: "bottom",
                    options: {
                        text: "Thoát",
                        onClick: function (e) {

                            DanhGia.hide();
                        }
                    }
                }],
            contentTemplate: function () {

                var view = $("<div>").append(
                    $("<div class='row' />").append(
                        $("<div class='col-md-12'/>").append(
                            $(`<p> <b>Tên giỏ hàng:</b> <span>${e.row.key.Name_order}</span></p>`),
                        ),
                        $("<div class='col-md-6'/>").append(
                            $(`<p> <b>Phương thức giao hàng:</b> <span>${e.row.key.Type_ship}</span></p>`),
                        ),
                        $("<div class='col-md-6'/>").append(
                            $(`<p> <b>Tổng tiền:</b> <span>${e.row.key.ToTal_Money}</span></p>`),
                        ),
                        $("<div class='col-md-12'/>").append(
                            $(`<p> <b>Địa chỉ:</b> <span>${e.row.key.Address}</span></p>`),
                        ),
                        $("<div class='col-md-6'/>").append(
                            $(`<p> <b>Email:</b> <span>${e.row.key.Email}</span></p>`),
                        ),
                        $("<div class='col-md-6'/>").append(
                            $(`<p> <b>Số điện thoại:</b> <span>${e.row.key.Phone}</span></p>`),
                        ),
                        $("<div class='col-md-12'/>").append(
                            $(`<p> <b>Ghi chú:</b> <span>${e.row.key.Note}</span></p>`),
                        ),
                    ),
                    $("<div class='row mt-1' />").append(
                        $("<div class='col-md-12'/>").append(
                            $(`<h4> <b>Danh sách sản phẩm</b></h4>`),
                        ),
                        $("<div class='col-md-12'></div>").append(
                            $("<div class='table-responsive'/>").append(
                                $("<table class='table table-xs table-bordered table-hover'/>").append(
                                    $("<thead/>").append(
                                        $("<tr/>").append(
                                            $("<th class='col-md-2'>Hình ảnh</th>"),
                                            $("<th class='col-md-3'>Tên sản phẩm</th>"),
                                            $("<th class='col-md-1'>Giá</th>"),
                                            $("<th class='col-md-1'>Kích cỡ</th>"),
                                            $("<th class='col-md-1'>Số lượng</th>"),
                                            $("<th class='col-md-1'>Giảm giá(%)</th>"),
                                            $("<th class='col-md-3'>Ghi chú</th>"),
                                        ),
                                    ),
                                    strHtml


                                )
                            )
                        )
                    ),

                )
                view.dxScrollView({
                    width: '100%',
                    height: '100%',
                    useNative: true,
                    scrollByContent: true,
                });
                return view;
            }
        }

        ).dxPopup("instance");
        DanhGia.show();

        }


    function loadGrid(jsonData) {

        var transportStore = new DevExpress.data.CustomStore({
            key: ["ID", "Name_order", "Type_ship", "Address",
                "Email", "Phone", "Note", "ToTal_Money", "ID_User", "CreatedDate","Status"],
            load: function () {
                return sendRequest("Order/GetlstOrder", "GET", "")
            },
            insert: function (values) {

                return sendRequest("Order/InsertlstOrder", "POST", JSON.stringify(values));
            },
            update: function (key, values) {

                return sendRequest("Order/UpdatelstOrder?value=" + JSON.stringify(values), "POST", JSON.stringify(key));
            },
            //remove: function (key) {
            //    return sendRequest("Category/DeletelstCategory?id=" + key, "DELETE", "");
            //}
        });

        //Pref: https://js.devexpress.com/Documentation/Guide/UI_Components/DataGrid/Editing/

        //Load grid
        $("#gridList").dxDataGrid({
            //dataSource: jsonData,
            dataSource: transportStore,
            scrolling: {
                useNative: true,
                columnRenderingMode: 'virtual'
            },
            repaintChangesOnly: true,
            showColumnLines: true,
            showRowLines: true,
            allowColumnReordering: true,
            allowColumnResizing: true,
            columnAutoWidth: true,
            showBorders: true,
            width: "auto",
            columnResizingMode: 'widget',
            columnsAutoWidth: true,
            hoverStateEnabled: true,
            paging: {
                pageSize: 20
            },
            pager: {
                visible: true,

                showPageSizeSelector: false,
                showInfo: false,
                showNavigationButtons: false
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            editing: {

                mode: "popup",
                allowAdding: true,
                allowUpdating: true,
                selectTextOnEditStart: true,
                startEditAction: "click",
                useIcons: true,
                popup: {
                    title: "Duyệt đơn hàng",
                    showTitle: true,
                    width: 700,
                    height: 300
                },
                form: {
                    items: ["Name_order", "Type_ship", "Address",
                        "Email", "Phone", "Note", "ToTal_Money", "ID_User", "CreatedDate", "Status"],
                }

            },
            onToolbarPreparing: function (e) {
                e.toolbarOptions.visible = false;
            },
            onInitialized: function (e) {
                dataGrid = e.component;
            },
            headerFilter: {
                visible: true
            },
            columnFixing: {
                enabled: true
            },
            columnChooser: {
                enabled: true,
                mode: "select"
            },
            onContextMenuPreparing: function (e) {
                if (e.target == "header") {
                    if (!e.items) e.items = [];

                    //custom menu item in header
                    e.items.push({
                        text: "Hide",
                        onItemClick: function () {
                            $("#gridList").dxDataGrid("columnOption", e.column.name, "visible", false);
                        }
                    });

                    e.items.push({
                        text: "Unhide",
                        onItemClick: function () {
                            $("#gridList").dxDataGrid("instance").showColumnChooser()
                        }
                    });
                }
            },

            //Data type: Accepted Values: 'string' | 'number' | 'date' | 'boolean' | 'object' | 'datetime'
            columns: [
                {
                    dataField: "Name_order",
                    dataType: "string",
                    alignment: "left",
                    caption: "Tên đơn hàng",
                },
                {
                    dataField: "Type_ship",
                    dataType: "string",
                    alignment: "left",
                    caption: "Phương thức giao hàng",
                },
                {
                    dataField: "Address",
                    dataType: "string",
                    alignment: "left",
                    caption: "Địa chỉ",
                },
                {
                    dataField: "Email",
                    dataType: "string",
                    alignment: "left",
                    caption: "Email",
                },
                {
                    dataField: "Phone",
                    dataType: "number",
                    alignment: "left",
                    caption: "Số điện thoại",
                },
                {
                    dataField: "Note",
                    dataType: "string",
                    alignment: "left",
                    caption: "Ghi chú",
                },
                {
                    dataField: "ToTal_Money",
                    dataType: "number",
                    alignment: "left",
                    caption: "Tông tiền",
                },
                {
                    dataField: "CreatedDate",
                    dataType: "date",
                    alignment: "left",
                    format: "dd/MM/yyyy",
                    caption: "Ngày đặt",
                },


                {
                    dataField: "Status",
                    dataType: "boolean",
                    caption: "Trạng thái",
                    alignment: "center",
                },
                {
                    type: "buttons",
                    caption: "Chi tiết",
                    width: 110,
                    buttons: [{
                        hint: "Chi tiết",
                        icon: "rowproperties",
                        onClick: function (e) {
                            average = 0;
                            loadpopup(e);

                        }
                    }]
                },




            ],


        }).dxDataGrid("instance");
    };

    function sendRequest(url, method, data) {
        var d = $.Deferred();
        $.ajax({
            type: method,
            url: url,
            data: data,
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (res) {
                d.resolve(res);
            },

        });

        return d.promise().done(function (result) {
            if (result.IsSuccess == 1) {
                if (result.Data.Status == 1) {

                    DevExpress.ui.notify(result.Data.Message, "success", 3000);
                }
                else {
                    DevExpress.ui.notify("Fail: " + result.Data.Message, "error", 3000);

                }
            }
            if (result.Status == 1) {
                DevExpress.ui.notify(result.Message, "success", 3000);
            }
            else if (result.Status == -1) {
                DevExpress.ui.notify("Fail: " + result.Message, "error", 3000);
            }



        });
    };
</script>
