<div class="content-page">

    <!-- Start content -->
    <div class="content">
        
        <div class="container-fluid">
            <div class="row content-box">
                <h5>Sản phẩm</h5>
            </div>
            <div class="row content-box">

                <div class="col-md-4">

                </div>
                <div class="col-md-8 button_nav_record">
                    <div id="btnAdd" class="btnAdd"></div>

                    <div id="popup"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 content-box">
                    <div id="gridList"></div>
                </div>

            </div>
        </div>

    </div>
    <!-- END content -->

</div>

<style>
    img {
        width: 100%
    }
</style>
<script type="text/javascript">
    var listCate =  @Html.Raw(Json.Serialize(ViewBag.listCategory));
    var listProduct = @Html.Raw(Json.Serialize(ViewBag.listProduct));

    $(function () {

        $("#btnAdd").dxButton({
            text: "Thêm",
            icon: "inserttable",
            onClick: function () {

                popupAdd.show();
                $("#input-Name").dxTextBox("instance").option("value", "");

                $("#input-Detail").dxTextArea("instance").option("value", "");

                $("#input-Status").dxCheckBox("instance").option("value", "");

                $("#input-Category").dxSelectBox("instance").option("value", null)
                $("#input-Total").dxNumberBox("instance").option("value", "");

                $("#input-Price").dxNumberBox("instance").option("value", "");

                $("#input-Promotion").dxNumberBox("instance").option("value", "");

                document.getElementById("IM").src = "";
                document.getElementById("photoUrl").value = "";
            }
        });

        var popupAdd = $("#popup").dxPopup({
            width: 700,
            height: 450,
            toolbarItems: [{
                widget: "dxButton",
                location: "after",
                toolbar: "bottom",
                options: {
                    text: "Lưu",
                    onClick: function (e) {
                        var inputName = $("#input-Name").dxTextBox("instance").option("value");
                        var inputChiTiet = $("#input-Detail").dxTextArea("instance").option("value");
                        var inputTrangThai = $("#input-Status").dxCheckBox("instance").option("value");
                        var inputLoaiSP = $("#input-Category").dxSelectBox("instance").option("value");
                        var inputSoluong = $("#input-Total").dxNumberBox("instance").option("value");
                        var inputGia = $("#input-Price").dxNumberBox("instance").option("value");
                        var inputKhuyenmai = $("#input-Promotion").dxNumberBox("instance").option("value");


                        var data = new FormData();

                        data.append("Name", inputName)
                        data.append("ID_Catelogy", inputLoaiSP)
                        data.append("Detail", inputChiTiet)
                        data.append("Total_Quality", inputSoluong)
                        data.append("Price", inputGia)
                        data.append("PromotionPrice", inputKhuyenmai)
                        data.append("Total_Quality", inputSoluong)
                        data.append("Status", inputTrangThai)
                        data.append("file", document.getElementById("photoUrl").files[0])
                        if (inputName == "" || inputChiTiet == "" || inputLoaiSP == null || inputSoluong == "" || inputGia == "" || inputKhuyenmai == "" || document.getElementById("photoUrl").files[0] ==null) {
                            return DevExpress.ui.notify("Vui lòng nhập đầy đủ thông tin", "Warning", 3000);
                        }
                        $.ajax({
                            type: "POST",
                            enctype: 'multipart/form-data',
                            url: "@Url.Action("InsertlstProduct", "Product")",
                            data: data,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                if (result.IsSuccess == true) {
                                    if (result.Data.Status == 1) {
                                        $("#input-Name").dxTextBox("instance").option("value", "");

                                        $("#input-Detail").dxTextArea("instance").option("value", "");

                                        $("#input-Status").dxCheckBox("instance").option("value", "");

                                        $("#input-Category").dxSelectBox("instance").option("value", null)
                                        $("#input-Total").dxNumberBox("instance").option("value", "");

                                        $("#input-Price").dxNumberBox("instance").option("value", "");

                                        $("#input-Promotion").dxNumberBox("instance").option("value", "");
                                        document.getElementById("photoUrl").files[0].value = null;
                                        popupAdd.hide();
                                        $("#gridList").dxDataGrid("instance").refresh();

                                        DevExpress.ui.notify("Thêm thành công", "success", 3000);
                                    } else if (result.Data.Status == -2) {
                                        DevExpress.ui.notify("Lưu tệp lỗi.", "Warning", 3000);
                                    }
                                    else {
                                        DevExpress.ui.notify(result.Data.Message, "Warning", 3000);
                                    }
                                }
                                else {
                                    DevExpress.ui.notify(result.ReturnMessage, "Warning", 3000);
                                }
                            },
                            error: function () {
                                DevExpress.ui.notify("API lỗi", "error", 3000);
                            }
                        });
        }
                }
            }, {
                widget: "dxButton",
                location: "after",
                toolbar: "bottom",
                options: {
                    text: "Thoát",
                    onClick: function (e) {
                        $("#input-Name").dxTextBox("instance").option("value", "");

                        $("#input-Detail").dxTextArea("instance").option("value", "");

                        $("#input-Status").dxCheckBox("instance").option("value", "");

                        $("#input-Category").dxSelectBox("instance").option("value", null)
                        $("#input-Total").dxNumberBox("instance").option("value", "");

                        $("#input-Price").dxNumberBox("instance").option("value", "");

                        $("#input-Promotion").dxNumberBox("instance").option("value", "");
                        if (document.getElementById("photoUrl"))
                            document.getElementById("photoUrl").files[0].value = null;
                        popupAdd.hide();
                        if (document.getElementById("IM"))
                            document.getElementById("IM").src = "";
                        if (document.getElementById("photoUrl"))
                            document.getElementById("photoUrl").value = "";

                    }
                }
                },
            ],
            contentTemplate: function (container) {
                var view = $("<div>").append(
                    $("<div class='row p-1' />").append(
                        $("<div class='col-3 mt-2'>Tên sản phẩm: </div>"),
                        $("<div class='col-9 mt-2' id='input-Name'>").dxTextBox({
                            showClearButton: true,
                            placeholder: "Nhập tên sản phẩm"
                        }),
                        $("<div class='col-3 mt-2'>Loại sản phẩm: </div>"),
                        $("<div class='col-9 mt-2' id='input-Category'>").dxSelectBox({
                            dataSource: listCate,
                            showClearButton: true,
                            displayExpr: "Name",
                            valueExpr: "ID",
                        }),
                        $("<div class='col-3 mt-2'>Số lượng tống: </div>"),
                        $("<div class='col-9 mt-2' id='input-Total'>").dxNumberBox({
                            showClearButton: true,
                            placeholder: "Nhập số lượng"
                        }),
                        $("<div class='col-3 mt-2'>Hình Ảnh: </div>"),
                        $("<div class='col-9 mt-2'><form id='form-data'  method = 'post' enctype = 'multipart/form-data' > <input type = 'file' name='file' id = 'photoUrl' onchange='readURL(this)'  /><br><img id='IM' src='#' alt='your image' /></form></div > "),

                        $("<div class='col-3 mt-2'>Giá: </div>"),
                        $("<div class='col-9 mt-2' id='input-Price'>").dxNumberBox({
                            showClearButton: true,
                            placeholder: "Nhập giá"
                        }),
                        $("<div class='col-3 mt-2'>Khuyến mãi: </div>"),
                        $("<div class='col-9 mt-2' id='input-Promotion'>").dxNumberBox({
                            showClearButton: true,
                            placeholder: "Nhập khuyến mãi"
                        }),

                        $("<div class='col-3  mt-2'>Trạng thái: </div>"),
                        $("<div class='col-9 mt-2' id='input-Status'>").dxCheckBox({
                            value: false,
                            text: "Kích hoạt"
                        }),
                        $("<div class='col-3 mt-2'>Chi tiết: </div>"),
                        $("<div class='col-9 mt-2' id='input-Detail'>").dxTextArea({

                            height: 100,

                        }),
                    )
                );
                view.dxScrollView({
                    width: '100%',
                    height: '100%',
                    useNative: true,
                    scrollByContent: true,
                });
                return view;
            },
            showTitle: true,
            title: "Thêm sản phẩm",
            dragEnabled: false,
        }).dxPopup("instance");



    });

    $(document).ready(function () {
        //loadData();
        loadGrid();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#IM').attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    };



        function loadGrid(jsonData) {

            var transportStore = new DevExpress.data.CustomStore({
                key: ["ID", "Name","ID_Catelogy", "Total_Quality", "Image","MoreImages",
                    "Price", "PromotionPrice", "Detail", "Description", "CreatedDate", "Status"],
                load: function () {
                    return sendRequest("Product/GetlstProduct", "GET", "")

                },
                insert: function (values) {

                    return sendRequest("Product/InsertlstProduct", "POST", JSON.stringify(values));
                },
                update: function (key, values) {

                    return sendRequest("Product/UpdatelstProduct?value=" + JSON.stringify(values), "POST", JSON.stringify(key));
                },
                //remove: function (key) {
                //    return sendRequest("Category/DeletelstCategory?id=" + key, "DELETE", "");
                //}
            });

            //Pref: https://js.devexpress.com/Documentation/Guide/UI_Components/DataGrid/Editing/

            //Load grid
            $("#gridList").dxDataGrid({
                //dataSource: jsonData,
                dataSource: transportStore,
                scrolling: {
                    useNative: true,
                    columnRenderingMode: 'virtual'
                },
                repaintChangesOnly: true,
                showColumnLines: true,
                showRowLines: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: true,
                width: "auto",
                columnResizingMode: 'widget',
                columnsAutoWidth: true,
                hoverStateEnabled: true,
                paging: {
                    pageSize: 20
                },
                pager: {
                    visible: true,

                    showPageSizeSelector: false,
                    showInfo: false,
                    showNavigationButtons: false
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },

               
                headerFilter: {
                    visible: true
                },

                columnChooser: {
                    enabled: true,
                    mode: "select"
                },
                onContextMenuPreparing: function (e) {
                    if (e.target == "header") {
                        if (!e.items) e.items = [];

                        //custom menu item in header
                        e.items.push({
                            text: "Hide",
                            onItemClick: function () {
                                $("#gridList").dxDataGrid("columnOption", e.column.name, "visible", false);
                            }
                        });

                        e.items.push({
                            text: "Unhide",
                            onItemClick: function () {
                                $("#gridList").dxDataGrid("instance").showColumnChooser()
                            }
                        });
                    }
                },

                //Data type: Accepted Values: 'string' | 'number' | 'date' | 'boolean' | 'object' | 'datetime'
                columns: [
                    {
                        type: "buttons",
                        width: 80,
                        caption:"Công cụ",
                        buttons: [{
                            hint: "edit",
                            icon: "edit",

                            onClick: function (e) {
                                var dataEdit = e.row.key;
                                var popup = $("#popup").dxPopup({
                                    width: 700,
                                    height: 450,
                                    toolbarItems: [{
                                        widget: "dxButton",
                                        location: "after",
                                        toolbar: "bottom",
                                        options: {
                                            text: "Lưu",
                                            onClick: function (e) {
                                                var inputName = $("#input-Name").dxTextBox("instance").option("value");
                                                var inputChiTiet = $("#input-Detail").dxTextArea("instance").option("value");
                                                var inputTrangThai = $("#input-Status").dxCheckBox("instance").option("value");
                                                var inputLoaiSP = $("#input-Category").dxSelectBox("instance").option("value");
                                                var inputSoluong = $("#input-Total").dxNumberBox("instance").option("value");
                                                var inputGia = $("#input-Price").dxNumberBox("instance").option("value");
                                                var inputKhuyenmai = $("#input-Promotion").dxNumberBox("instance").option("value");

                                                var data = new FormData();
                                                data.append("ID", dataEdit.ID)
                                                data.append("Name", inputName)
                                                data.append("ID_Catelogy", inputLoaiSP)
                                                data.append("Detail", inputChiTiet)
                                                data.append("Total_Quality", inputSoluong)
                                                data.append("Price", inputGia)
                                                data.append("PromotionPrice", inputKhuyenmai)
                                                data.append("Total_Quality", inputSoluong)
                                                data.append("Status", inputTrangThai)
                                                data.append("file", document.getElementById("photoUrl").files[0])
                                                if (document.getElementById("photoUrl").files[0] == null)
                                                    data.append("Image", dataEdit.Image)
                                                if (inputName == "" || inputChiTiet == "" || inputLoaiSP == null || inputSoluong == "" || inputGia == "" || inputKhuyenmai == null) {
                                                    return DevExpress.ui.notify("Vui lòng nhập đầy đủ thông tin", "Warning", 3000);
                                                }
                                                $.ajax({
                                                    type: "POST",
                                                    enctype: 'multipart/form-data',
                                                    url: "@Url.Action("UpdatelstProduct", "Product")",
                                                    data: data,
                                                    contentType: false,
                                                    processData: false,
                                                    success: function (result) {
                                                        if (result.IsSuccess == true) {
                                                            if (result.Data.Status == 1) {
                                                                $("#input-Name").dxTextBox("instance").option("value", "");

                                                                $("#input-Detail").dxTextArea("instance").option("value", "");

                                                                $("#input-Status").dxCheckBox("instance").option("value", "");

                                                                $("#input-Category").dxSelectBox("instance").option("value", null)
                                                                $("#input-Total").dxNumberBox("instance").option("value", "");

                                                                $("#input-Price").dxNumberBox("instance").option("value", "");

                                                                $("#input-Promotion").dxNumberBox("instance").option("value", "");
                                                                document.getElementById("photoUrl").value = "";

                                                                popup.hide();
                                                                $("#gridList").dxDataGrid("instance").refresh();

                                                                DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                                            } else if (result.Data.Status == -2) {
                                                                DevExpress.ui.notify("Lưu tệp lỗi.", "Warning", 3000);
                                                            }
                                                            else {
                                                                DevExpress.ui.notify(result.Data.Message, "Warning", 3000);
                                                            }
                                                        }
                                                        else {
                                                            DevExpress.ui.notify(result.ReturnMessage, "Warning", 3000);
                                                        }
                                                    },
                                                    error: function () {
                                                        DevExpress.ui.notify("API lỗi", "error", 3000);
                                                    }
                                                });
                                            }
                                        }
                                    }, {
                                        widget: "dxButton",
                                        location: "after",
                                        toolbar: "bottom",
                                        options: {
                                            text: "Thoát",
                                            onClick: function (e) {
                                                popup.hide();
                                                document.getElementById("IM").src = "";
                                                document.getElementById("photoUrl").value = "";

                                            }
                                        }
                                    },
                                    ],
                                    contentTemplate: function (container) {
                                        var view = $("<div>").append(
                                            $("<div class='row p-1' />").append(
                                                $("<div class='col-3 mt-2'>Tên sản phẩm: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Name'>").dxTextBox({
                                                    showClearButton: true,
                                                    placeholder: "Nhập tên sản phẩm",
                                                    value: dataEdit.Name
                                                }),
                                                $("<div class='col-3 mt-2'>Loại sản phẩm: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Category'>").dxSelectBox({
                                                    dataSource: listCate,
                                                    showClearButton: true,
                                                    displayExpr: "Name",
                                                    valueExpr: "ID",
                                                    value: dataEdit.ID_Catelogy,
                                                }),
                                                $("<div class='col-3 mt-2'>Số lượng tống: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Total'>").dxNumberBox({
                                                    showClearButton: true,
                                                    placeholder: "Nhập số lượng",
                                                    value: dataEdit.Total_Quality,
                                                }),
                                                $("<div class='col-3 mt-2'>Hình Ảnh: </div>"),
                                                $(`<div class='col-9 mt-2'><form id='form-data'  method = 'post' enctype = 'multipart/form-data' > <input type = 'file' name='file' id = 'photoUrl' onchange='readURL(this)'  /><br><img id='IM' src="${'/' + dataEdit.Image}" alt='your image' /></form></div > `),

                                                $("<div class='col-3 mt-2'>Giá: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Price'>").dxNumberBox({
                                                    showClearButton: true,
                                                    value: dataEdit.Price,
                                                    placeholder: "Nhập giá"
                                                }),
                                                $("<div class='col-3 mt-2'>Khuyến mãi: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Promotion'>").dxNumberBox({
                                                    showClearButton: true,
                                                    value: dataEdit.PromotionPrice,
                                                    placeholder: "Nhập khuyến mãi"
                                                }),

                                                $("<div class='col-3  mt-2'>Trạng thái: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Status'>").dxCheckBox({
                                                    value: dataEdit.Status,
                                                    text: "Kích hoạt"
                                                }),
                                                $("<div class='col-3 mt-2'>Chi tiết: </div>"),
                                                $("<div class='col-9 mt-2' id='input-Detail'>").dxTextArea({

                                                    height: 100,
                                                    value: dataEdit.Detail,
                                                }),
                                            )
                                        );
                                        view.dxScrollView({
                                            width: '100%',
                                            height: '100%',
                                            useNative: true,
                                            scrollByContent: true,
                                        });
                                        return view;
                                    },
                                    showTitle: true,
                                    title: "Sửa sản phẩm",
                                    dragEnabled: false,
                                }).dxPopup("instance");
                                popup.show();
                            }
                        }
                        ]
                    },
                    {
                        caption: "Hình ảnh",
                        dataField: "Image",

                        width: 200,
                        alignment: "center",
                        cellTemplate: function (container, options) {
                            var linkImg;
                            if (options.key.Image == null) {
                                linkImg = "#"
                            }
                            else {
                                linkImg = "/" + options.key.Image;
                            }

                            $("<div id='dropzone-external' class=' flex-box dx-theme-border-color'>")
                                .append($("<img id='dropzone-image'  src='" + linkImg + "' />")
                                ).appendTo(container)

                        }
                    },
                    {
                        dataField: "Name",
                        dataType: "string",
                        alignment: "left",
                        caption: "Name",
                        cellTemplate: function (container, options) {
                            $("<div style='margin-top:30px'>").append(
                                $("<div>" + options.text + "</div>"),
                            ).appendTo(container)
                        },
                    },
                    {
                        dataField: "ID_Catelogy",
                        dataType: "number",
                        alignment: "left",
                        caption: "Category",
                        lookup: {
                            dataSource: listCate,
                            valueExpr: "ID",
                            displayExpr: "Name"
                        },
                        cellTemplate: function (container, options) {
                            $("<div style='margin-top:30px'>").append(
                                $("<div>" + options.text + "</div>"),
                            ).appendTo(container)
                        },
                    },
                    {
                        dataField: "Total_Quality",
                        dataType: "number",
                        alignment: "left",
                        caption: "Total_Quality",
                        cellTemplate: function (container, options) {
                            $("<div style='margin-top:30px'>").append(
                                $("<div>" + options.text + "</div>"),
                            ).appendTo(container)
                        },
                    },


                    {
                        dataField: "Price",
                        dataType: "number",
                        alignment: "left",
                        caption: "Price",
                        cellTemplate: function (container, options) {
                            $("<div style='margin-top:30px'>").append(
                                $("<div>" + options.text + "</div>"),
                            ).appendTo(container)
                        },
                    },
                    {
                        dataField: "PromotionPrice",
                        dataType: "number",
                        alignment: "left",
                        caption: "PromotionPrice",
                        cellTemplate: function (container, options) {
                            $("<div style='margin-top:30px'>").append(
                                $("<div>" + options.text + "</div>"),
                            ).appendTo(container)
                        },
                    },
                    {
                        dataField: "Detail",
                        dataType: "string",
                        alignment: "left",
                        caption: "Detail",

                        cellTemplate: function (container, options) {
                            $("<div style='margin-top:30px'>").append(
                                $("<div>" + options.text + "</div>"),
                            ).appendTo(container)
                        },
                    },


                    {
                        dataField: "Status",
                        dataType: "boolean",
                        caption: "Status",
                        alignment: "center",
                    },




                ],


            }).dxDataGrid("instance");
        };

        function sendRequest(url, method, data) {
            var d = $.Deferred();
            $.ajax({
                type: method,
                url: url,
                data: data,
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (res) {
                    d.resolve(res);
                },

            });

            return d.promise().done(function (result) {
                if (result.IsSuccess == 1) {
                    if (result.Data.Status == 1) {

                        DevExpress.ui.notify(result.Data.Message, "success", 3000);
                    }
                    else {
                        DevExpress.ui.notify("Fail: " + result.Data.Message, "error", 3000);

                    }
                }
                if (result.Status == 1) {
                    DevExpress.ui.notify(result.Message, "success", 3000);
                }
                else if (result.Status == -1) {
                    DevExpress.ui.notify("Fail: " + result.Message, "error", 3000);
                }



            });
        };
</script>
