

<div class="content-page">

    <!-- Start content -->
    <div class="content">

        <div class="container-fluid pt-3">


            <!-- end row -->


            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-danger">
                        <i class="fas fa-coins float-right text-white"></i>
                        <h6 class="text-white text-uppercase mb-3">Tổng sản phẩm</h6>
                        <h1 class="mb-3 text-white counter">487</h1>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-success">
                        <i class="fas fa-hand-holding-usd float-right text-white"></i>
                        <h6 class="text-white text-uppercase mb-3">Đã bán</h6>
                        <h1 class="mb-3 text-white counter">290</h1>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-warning">
                        <i class="fas fa-shopping-cart float-right text-white"></i>
                        <h6 class="text-white text-uppercase mb-3">Đặt hàng</h6>
                        <h1 class="mb-3 text-white counter">320</h1>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-info">
                        <i class="far fa-envelope float-right text-white"></i>
                        <h6 class="text-white text-uppercase mb-3">Tin nhắn</h6>
                        <h1 class="mb-3 text-white counter">58</h1>

                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-2">
                        <div class="card_header">
                            <h3>
                                <i class="fas fa-chart-bar"></i>
                                Chart 1
                            </h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At inventore labore quaerat aut maxime odio repellendus accusamus eos itaque nam officia amet, assumenda earum culpa vero tempore dolores, laudantium beatae?
                        </div>
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis mollitia laborum quam velit dolorem rerum est sint! Enim, beatae dicta explicabo eveniet aut sit unde. Repudiandae laudantium voluptate odit?
                                Officia, dolorem dolor inventore nobis molestiae et modi quas reprehenderit, necessitatibus cupiditate nihil! Quas autem, accusantium fugiat blanditiis, veritatis sunt quo reiciendis molestias dolor et iusto. Repudiandae numquam incidunt modi?
                                A earum laborum nam non laudantium perspiciatis nemo, ab cupiditate officia harum sit eaque minima neque quos repellendus accusantium, soluta odit? Ab aspernatur, cum temporibus molestiae laudantium reiciendis officia error!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-2">
                        <div class="card_header">
                            <h3>
                                <i class="fas fa-chart-bar"></i>
                                Chart 1
                            </h3>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At inventore labore quaerat aut maxime odio repellendus accusamus eos itaque nam officia amet, assumenda earum culpa vero tempore dolores, laudantium beatae?
                        </div>
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum omnis mollitia laborum quam velit dolorem rerum est sint! Enim, beatae dicta explicabo eveniet aut sit unde. Repudiandae laudantium voluptate odit?
                                Officia, dolorem dolor inventore nobis molestiae et modi quas reprehenderit, necessitatibus cupiditate nihil! Quas autem, accusantium fugiat blanditiis, veritatis sunt quo reiciendis molestias dolor et iusto. Repudiandae numquam incidunt modi?
                                A earum laborum nam non laudantium perspiciatis nemo, ab cupiditate officia harum sit eaque minima neque quos repellendus accusantium, soluta odit? Ab aspernatur, cum temporibus molestiae laudantium reiciendis officia error!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card_header">
                            <span class="float-right">
                                <button class="btn btn-primary btn-sm">
                                    <i class="fas fa-store-alt"></i>
                                    Thêm sản phẩm
                                </button>
                            </span>
                            <h3>
                                <i class="fas fa-cube"></i>
                                Danh sách sản phẩm
                            </h3>
                        </div>
                        <div class="card_body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Ảnh</th>
                                        <th scope="col">Tất cả ảnh</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Giảm giá</th>
                                        <th scope="col">Chi tiết</th>
                                        <th scope="col">Mô tả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                        <td>Otto</td>
                                        <td>aaaa</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END container-fluid -->
        
    </div>
    <!-- END content -->

</div>