<div class="content-page">

    <!-- Start content -->
    <div class="content">
        
        <div class="container-fluid">
            <div class="row content-box">
                <h5>Kích cỡ sản phẩm</h5>
            </div>
            <div class="row content-box">

                <div class="col-md-4">

                </div>
                <div class="col-md-8 button_nav_record">
                    <div id="btnAdd" class="btnAdd"></div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 content-box">
                    <div id="gridList"></div>
                </div>

            </div>
        </div>

    </div>
    <!-- END content -->

</div>


<script type="text/javascript">


    $(function () {

        $("#btnAdd").dxButton({
            text: "Thêm",
            icon: "inserttable",
            onClick: function () {
                //Add action
                $("#gridList").dxDataGrid("instance").addRow();
            }
        });

      

    });

    $(document).ready(function () {
        //loadData();
        loadGrid();
    });


    var listPro =  @Html.Raw(Json.Serialize(ViewBag.Product));

    function loadGrid(jsonData) {

        var transportStore = new DevExpress.data.CustomStore({
            key: ["ID","Size", "Quality", "CreatedDate", "ID_Product", "Status"],
            load: function () {
                return sendRequest("ProductSize/GetlstProductSize", "GET", "")
            },
            insert: function (values) {

                return sendRequest("ProductSize/InsertlstProductSize", "POST", JSON.stringify(values));
            },
            update: function (key, values) {

                return sendRequest("ProductSize/UpdatelstProductSize?value=" + JSON.stringify(values), "POST", JSON.stringify(key));
            },
            //remove: function (key) {
            //    return sendRequest("Category/DeletelstCategory?id=" + key, "DELETE", "");
            //}
        });

        //Pref: https://js.devexpress.com/Documentation/Guide/UI_Components/DataGrid/Editing/

        //Load grid
        $("#gridList").dxDataGrid({
            //dataSource: jsonData,
            dataSource: transportStore,
            scrolling: {
                useNative: true,
                columnRenderingMode: 'virtual'
            },
            repaintChangesOnly: true,
            showColumnLines: true,
            showRowLines: true,
            allowColumnReordering: true,
            allowColumnResizing: true,
            columnAutoWidth: true,
            showBorders: true,
            width: "auto",
            columnResizingMode: 'widget',
            columnsAutoWidth: true,
            hoverStateEnabled: true,
            paging: {
                pageSize: 20
            },
            pager: {
                visible: true,
               
                showPageSizeSelector: false,
                showInfo: false,
                showNavigationButtons: false
            },
            
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            editing: {
                //refreshMode: "full",
                mode: "popup",
                allowAdding: true,
                allowUpdating: true,
                selectTextOnEditStart: true,
                startEditAction: "click",
                useIcons: true,
                popup: {
                    title: "Kích cỡ sản phẩm",
                    showTitle: true,
                    width: 700,
                    height: 300
                },
                form: {
                    items: ["Size", "Quality", "ID_Product", "Status"],
                }

            },
            onToolbarPreparing: function (e) {
                e.toolbarOptions.visible = false;
            },
            onInitialized: function (e) {
                dataGrid = e.component;
            },
            headerFilter: {
                visible: true
            },
            columnFixing: {
                enabled: true
            },
            columnChooser: {
                enabled: true,
                mode: "select"
            },
            onContextMenuPreparing: function (e) {
                if (e.target == "header") {
                    if (!e.items) e.items = [];

                    //custom menu item in header
                    e.items.push({
                        text: "Hide",
                        onItemClick: function () {
                            $("#gridList").dxDataGrid("columnOption", e.column.name, "visible", false);
                        }
                    });

                    e.items.push({
                        text: "Unhide",
                        onItemClick: function () {
                            $("#gridList").dxDataGrid("instance").showColumnChooser()
                        }
                    });
                }
            },

            //Data type: Accepted Values: 'string' | 'number' | 'date' | 'boolean' | 'object' | 'datetime'
            columns: [

                //["Size", "Quality", "CreatedDate", "ID_Product", "Status"],
                {
                    dataField: "ID_Product",
                    dataType: "number",
                    alignment: "left",
                    caption: "Tên sản phẩm",
                    groupIndex: 0,
                    lookup: {
                        dataSource: listPro,
                        valueExpr: "ID",
                        displayExpr: "Name"
                    },
                },
                {
                    dataField: "Size",
                    dataType: "string",
                    alignment: "left",
                    caption: "Kích cỡ",
                },
                {
                    dataField: "Quality",
                    dataType: "number",
                    alignment: "left",
                    caption: "Số lượng",
                },

                {
                    dataField: "Status",
                    dataType: "boolean",
                    caption: "Trạng thái",
                    alignment: "center",
                },




            ],
            summary: {
                groupItems: [
                    {
                        column: "Quality",
                        summaryType: "sum",
                        howInGroupFooter: false,
                        alignByColumn: true,
                        displayFormat: "Tổng sản phẩm: {0}",
                    }
                ]
            },
            onEditorPreparing: function (e) {
                if (e.parentType == "dataRow" && e.isOnForm == true) {
                    if (e.dataField == "ID" && typeof e.row.isNewRow == "undefined")
                        e.editorOptions.readOnly = true
                }
            }

        }).dxDataGrid("instance");
    };

    function sendRequest(url, method, data) {
        var d = $.Deferred();
        $.ajax({
            type: method,
            url: url,
            data: data,
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (res) {
                d.resolve(res);
            },

        });

        return d.promise().done(function (result) {
            if (result.IsSuccess == 1) {
                if (result.Data.Status == 1) {

                    DevExpress.ui.notify(result.Data.Message, "success", 3000);
                }
                else {
                    DevExpress.ui.notify("Fail: " + result.Data.Message, "error", 3000);

                }
            }
            if (result.Status == 1) {
                DevExpress.ui.notify(result.Message, "success", 3000);
            }
            else if (result.Status == -1) {
                DevExpress.ui.notify("Fail: " + result.Message, "error", 3000);
            }



        });
    };
</script>
