<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>VỀ CHÚNG TÔI</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","TheWayShop")">Home</a></li>
                    <li class="breadcrumb-item active">Về chúng tôi</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Chúng tôi là <span>ThewayShop</span></h2>
                <p>
                    Ra mắt năm 2021, nền tảng thương mại TheWayShop được xây dựng nhằm cung cấp cho người sử dùng những trải nghiệm dễ dàng, an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.
                    Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm mua sắm trực tuyến phải đơn giản, dễ dàng và mang đến cảm xúc vui thích. Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại TheWayShop
                </p>
                <p>
                    Với phương châm hoạt động “Tất cả vì Khách Hàng”, TheWayShop luôn không ngừng nỗ lực nâng cao chất lượng dịch vụ và sản phẩm, từ đó mang đến trải nghiệm mua sắm trọn vẹn cho Khách Hàng Việt Nam với dịch vụ giao hàng nhanh, cùng cam kết cung cấp hàng chính hãng với chính sách hoàn tiền 111% nếu phát hiện hàng giả, hàng nhái.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" src="~/images/about-img.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Tin tưởng</h3>
                    <p>Để định nghĩa chúng tôi là ai - thông qua lời nói hay cách ứng xử trong nhiều trường hợp khác nhau - thì thực chất, chúng tôi Gần gũi, Vui vẻ và Đồng lòng. Đây là những đặc tính chính và nổi bật trong từng bước đường phát triển của TheWayShop.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên nghiệp</h3>
                    <p>Đối với người dùng trong khu vực, TheWayShop mang đến trải nghiệm mua sắm tích hợp với vô số sản phẩm đa dạng chủng loại, cộng đồng người dùng năng động và chuỗi dịch vụ liền mạch. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Nổ lực</h3>
                    <p>Chúng tôi thật sự tin tưởng vào sức mạnh khai triển của công nghệ và mong muốn góp phần làm cho thế giới trở nên tốt đẹp hơn bằng việc kết nối cộng đồng người mua và người bán thông qua việc cung cấp một nền tảng thương mại điện tử.</p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">Đội của chúng tôi</h2>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/images/thayphuoc.PNG" style="width: 349px; height: 300px;" alt="" />
                        <div class="team-content">
                            <h3 class="title">Tôn long phước</h3> <span class="post">Giáo viên hướng dẫn</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/images/anhnhat.png" style="width: 349px; height: 300px;" alt="" />
                        <div class="team-content">
                            <h3 class="title">Lê tuấn phụng</h3> <span class="post">Coder</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/images/anhphung.jpg" style="width: 349px; height: 300px;" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn anh nhật</h3> <span class="post">Coder</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->