  <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Chính sách Đổi trả</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","TheWayShop")">Home</a></li>
                    <li class="breadcrumb-item active"> Chính sách Đổi trả</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="title-doi-tra">
            <h1>Chính sách Đổi trả & Bảo hành</h1>
        </div>
        <div class="content-doi-tra">
            <strong>1. Đổi/trả hàng trong vòng 33 ngày.</strong>
            <strong>Nếu lỗi từ nhà sản xuất</strong>
            <p class="ul-content-doi-tra">Bạn sẽ không mất bất cứ chi phí nào nếu lỗi từ TheWayShop nhé!</p>
            <p class="ul-content-doi-tra">Lưu ý: Mỗi hóa đơn chỉ được đổi trả 1 lần duy nhất.</p>
            <p class="ul-content-doi-tra"><strong>Ví dụ 1:</strong> Nếu sản phẩm bị lỗi: Sản phẩm bạn mua 500k. Phí ship 30k. Bạn nhận hàng và thanh toán 530K. Bạn sử dụng 10 ngày, sản phẩm bị lỗi nên bạn muốn trả hàng thì TheWayShop vẫn hoàn đủ cho bạn 530k.</p>
            <p class="ul-content-doi-tra"><strong>Ví dụ 2:</strong> Nếu sản phẩm không bị lỗi thì có được đổi trả không nhỉ? Câu trả lời là có nếu sản phẩm hoàn toàn chưa qua sử dụng, còn mới 100%. Bạn mua sản phẩm về tặng bạn, nhưng bạn không thích. TheWayShop vẫn hỗ trợ đổi hoặc hoàn tiền lại cho bạn bình thường nhé!</p>
            <strong>Tại sao TheWayShop lại làm vậy?</strong>
            <ul class="ul-content-doi-tra">
                <li>1. Đơn giản là vì TheWayShop muốn khách hàng của TheWayShop thật sự yêu thích và sử dụng sản phẩm của TheWayShop một cách thoải mái và vui vẻ nhất!</li>
                <li><strong>2. Bảo hành 1 năm</strong> (12 tháng): Toàn bộ sản phẩm của TheWayShop đều được bảo hành 12 tháng. Và đặc biệt: Chi phí bảo hành 100% đều sẽ do TheWayShop chịu bao gồm cả phí vận chuyển 2 chiều.</li>
                <li><strong>3. Đổi hàng dễ dàng & tận nơi</strong>: Bạn sẽ không phải dãi nắng, dầm mưa đi ra bưu điện để gửi hàng về cho TheWayShop, rồi lại đợi chờ TheWayShop gửi sản phẩm mới về. Bạn hãy cứ ở yên đấy, mọi thứ cứ để TheWayShop lo nhé! TheWayShop sẽ giao sản phẩm mới tới và thu hồi sản phẩm cũ về.</li>
            </ul>
            <p>Bạn chỉ cần hỗ trợ TheWayShop 1 xíu, chính là đóng gói sản phẩm cũ lại để đưa bưu tá khi bưu tá giao hàng nhé!</p>
            <strong>2. Trả hàng - Hoàn tiền</strong>: Bạn sẽ không phải dãi nắng, dầm mưa đi ra bưu điện để gửi hàng về cho TheWayShop, rồi lại đợi chờ TheWayShop gửi sản phẩm mới về. Bạn hãy cứ ở yên đấy, mọi thứ cứ để TheWayShop lo nhé! TheWayShop sẽ giao sản phẩm mới tới và thu hồi sản phẩm cũ về.
            <ul class="ul-content-doi-tra ">
                <li class="list-style"><strong>Tình huống 1:</strong> Nếu bạn đến trực tiếp store: nhân viên của TheWayShop sẽ kiểm tra sản phẩm và xử lý ngay lúc đó cho bạn. TheWayShop cam kết toàn bộ quá trình không quá 30 phút.</li>
                <li class="list-style"><strong>Tình huống 2:</strong> Nếu bạn gửi online. Bạn hãy ghi Tên + SĐT liên hệ và Thông tin tài khoản nhận tiền kèm theo hàng.</li>
            </ul>
            <p class="ul-content-doi-tra">Bạn cho TheWayShop xin 24 tiếng sau khi nhận hàng để kiểm tra sản phẩm đã qua xử dụng hay chưa, sản phẩm có đúng là lỗi của TheWayShop hay không? -> Nếu đủ và đạt điều kiện. Tiền sẽ được hoàn vào tài khoản bạn trong vòng 24 tiếng sau khi TheWayShop nhận được sản phẩm.</p>
            <p>Phí thu hồi & chuyển khoản tất cả đều là: <strong>MIỄN PHÍ</strong></p>

        </div>
    </div>
</div>
<!-- End Cart -->
