  <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Chính sách Đổi trả</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","TheWayShop")">Home</a></li>
                    <li class="breadcrumb-item active"> Chính sách Đổi trả</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="title-doi-tra">
            <h1>Chính sách Đổi trả & Bảo hành</h1>
        </div>
        <div class="content-doi-tra">
            <h3><strong>I. Những trường hợp không được bảo hành:</strong></h3>
            <p class="ul-content-doi-tra">
                1. Bề mặt da bị vật nhọn cào xước, hư hại bởi tác động vật lý bên ngoài.<br>
                2. Sản phẩm bị dính nước.<br><span>
                    3.
                </span>Tự gây nên tình trạng hư hỏng, trầy xước sản phẩm.<br>
                4. <span>Sản phẩm đã hết thời hạn bảo hành.</span>
            </p>
            <h3><strong>II. Quy trình bảo hành:</strong></h3>
            <p class="ul-content-doi-tra"><strong>– Bước 1:<br></strong>Bạn gọi số hotline 1900 633 453, hoặc inbox facebook cho chúng tôi để kiểm tra sản phẩm thuộc diện được bảo hành và còn thời hạn bảo hành.</p>
            <p class="ul-content-doi-tra">Link inbox: <a class="color_contact_bao_hang" href="https://www.facebook.com/profile.php?id=100012657187561"> <em>LÊ TUẤN PHỤNG</em></a></p>
            <p class="ul-content-doi-tra">Nếu được bảo hành nhân viên sẽ hướng dẫn thủ tục bảo hành cho quý khách:</p>
            <p class="ul-content-doi-tra"><strong>+ Online:</strong> Quý khách vui lòng gửi hàng về kèm <a class="color_contact_bao_hang" href="@Url.Action("Contact_Us","TheWayShop")">mẫu</a> ghi thông tin (Lỗi sản phẩm cần bảo hành + Tên + SĐT +…). Khi nhận được hàng chúng tôi sẽ gọi lại xác nhận thông tin, báo thời gian dự kiến trả lại sản phẩm sau khi bảo hành cho quý khách.</p>
        </div>
    </div>
</div>
<!-- End Cart -->
<!-- End Cart -->
