    <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>News</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">News</a></li>
                    <li class="breadcrumb-item active">News Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start NEWS DeTAIL  -->

<div class="container">
    <div class="tetail_news">
        <h1 class="custom_tetail_new">
            <p>3 mẹo giúp bạn có đôi chân đẹp</p>
        </h1>
        <ul class="tac_gia_datetime">
            <li class="Tac_gia"><strong>phung</strong></li>
            <li class="datetime">15:22</li>
            <li class="datetime">1/1/1111</li>
        </ul>
        <section class="row">
            <div class="col-md-8">
                <p class="Description_title_text">
                    Bên cạnh tài năng âm nhạc, Travis Scott còn là một trong những nhân vật có ảnh hưởng nhất đến làng thời trang thế giới.
                </p>
                <div class="content_new">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat aspernatur possimus facilis qui id, molestiae earum doloremque ipsum quas rerum tenetur magni est accusamus repellendus consequuntur soluta! Nulla, perferendis.
                        Nobis esse earum deleniti debitis quas porro aliquam possimus ad vero repudiandae. Ducimus nostrum, dolor repellat omnis eligendi molestias atque laboriosam expedita ea, doloremque accusamus architecto deleniti, tenetur quaerat explicabo!
                        Porro dolore unde quos ipsa est eligendi perferendis facere velit aperiam! Quibusdam laborum magnam consequatur, eius ullam rem architecto sint mollitia impedit, unde et id! Fugit natus eum quas non?
                        Id rem nulla, vel expedita deleniti dolor amet unde adipisci possimus, commodi nisi rerum assumenda deserunt voluptatum, voluptatibus itaque officiis ipsum placeat ipsa dicta harum repellat! Mollitia expedita velit quam!
                        Sequi exercitationem distinctio, vitae obcaecati hic optio, pariatur recusandae possimus aspernatur ratione tempore quas aut qui expedita suscipit accusantium blanditiis eius. Accusamus voluptatem repellendus nam dolores optio ipsum culpa laborum!
                        Vitae reiciendis qui rerum. Sint vero quia corporis deserunt provident veniam sequi quos commodi unde, sed consequatur quisquam nihil ipsam sapiente modi labore, perferendis dolorum ducimus totam facilis? Dolorum, atque.
                        Tempora porro quisquam voluptatem culpa consequuntur ab ipsam, neque recusandae debitis libero nemo ipsa a quia distinctio nihil consectetur excepturi animi soluta! Ad sequi, error debitis tempore deserunt adipisci eos?
                        Quis nobis quas error at enim inventore ipsum quaerat, maiores culpa, tenetur doloremque repudiandae voluptates iusto pariatur! Praesentium dolor ea voluptatibus, magni quo assumenda, error dolore aperiam, voluptatem veniam neque!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus repellat aspernatur possimus facilis qui id, molestiae earum doloremque ipsum quas rerum tenetur magni est accusamus repellendus consequuntur soluta! Nulla, perferendis.
                        Nobis esse earum deleniti debitis quas porro aliquam possimus ad vero repudiandae. Ducimus nostrum, dolor repellat omnis eligendi molestias atque laboriosam expedita ea, doloremque accusamus architecto deleniti, tenetur quaerat explicabo!
                        Porro dolore unde quos ipsa est eligendi perferendis facere velit aperiam! Quibusdam laborum magnam consequatur, eius ullam rem architecto sint mollitia impedit, unde et id! Fugit natus eum quas non?
                        Id rem nulla, vel expedita deleniti dolor amet unde adipisci possimus, commodi nisi rerum assumenda deserunt voluptatum, voluptatibus itaque officiis ipsum placeat ipsa dicta harum repellat! Mollitia expedita velit quam!
                        Sequi exercitationem distinctio, vitae obcaecati hic optio, pariatur recusandae possimus aspernatur ratione tempore quas aut qui expedita suscipit accusantium blanditiis eius. Accusamus voluptatem repellendus nam dolores optio ipsum culpa laborum!
                        Vitae reiciendis qui rerum. Sint vero quia corporis deserunt provident veniam sequi quos commodi unde, sed consequatur quisquam nihil ipsam sapiente modi labore, perferendis dolorum ducimus totam facilis? Dolorum, atque.
                        Tempora porro quisquam voluptatem culpa consequuntur ab ipsam, neque recusandae debitis libero nemo ipsa a quia distinctio nihil consectetur excepturi animi soluta! Ad sequi, error debitis tempore deserunt adipisci eos?
                        Quis nobis quas error at enim inventore ipsum quaerat, maiores culpa, tenetur doloremque repudiandae voluptates iusto pariatur! Praesentium dolor ea voluptatibus, magni quo assumenda, error dolore aperiam, voluptatem veniam neque!
                    </p>
                </div>
                <div class="cmt_news">
                    <form action="">
                        <textarea class="form-control" id="message" placeholder="Mời bạn cho ý kiến&nbsp;(*)" rows="4" data-error="Write your message" required></textarea>
                        <input class="input_cmt" type="submit" name="submit" value="Gửi thông tin">
                    </form>
                    <div class="total_cmt">
                        <span class="_text_total_cmt">đã có <i style="color: red;">111</i>  bình luận cho sản phẩm này</span>
                    </div>
                    <ul class="list_cmt">
                        <li class="info_cmt">
                            <span class="name_user_cmt">Nguyện thị a</span>
                            <span class="datetime_user_cmt">11/12/1111</span>
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusamus minima dolore aut placeat earum ipsam? Aliquid deserunt, libero dolorem voluptas dolorum, laboriosam totam, ea repudiandae natus repellendus sit eligendi.</p>
                            </div>
                        </li>
                        <li class="info_cmt">
                            <span class="name_user_cmt">Nguyện thị a</span>
                            <span class="datetime_user_cmt">11/12/1111</span>
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusamus minima dolore aut placeat earum ipsam? Aliquid deserunt, libero dolorem voluptas dolorum, laboriosam totam, ea repudiandae natus repellendus sit eligendi.</p>
                            </div>
                        </li>
                        <li class="info_cmt">
                            <span class="name_user_cmt">Nguyện thị a</span>
                            <span class="datetime_user_cmt">11/12/1111</span>
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusamus minima dolore aut placeat earum ipsam? Aliquid deserunt, libero dolorem voluptas dolorum, laboriosam totam, ea repudiandae natus repellendus sit eligendi.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container title_catelogy">
                    <h3>CÓ THỂ BẠN QUAN TÂM</h3>
                </div>
                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a href="Detail_news.html"><img class="img_news" src="~/images/about-img.jpg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a href=""> <h3>3 mẹo giúp bạn có đôi chân đẹp</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="time">21:22</span>
                                <span class="date">20/5/2021</span>
                            </div>
                            <div class="Danh_muc_lien_quan">
                                <span>
                                    <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                </span>
                            </div>
                            <div class="content_news">
                                <p>Đôi chân khỏe mạnh, nuột nà là tài sản quý giá của phụ nữ. Yếu tố này giúp tăng sự tự tin và quyến rũ cho phái đẹp.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a href="Detail_news.html"><img class="img_news" src="~/images/about-img.jpg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a href=""> <h3>3 mẹo giúp bạn có đôi chân đẹp</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="time">21:22</span>
                                <span class="date">20/5/2021</span>
                            </div>
                            <div class="Danh_muc_lien_quan">
                                <span>
                                    <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                </span>
                            </div>
                            <div class="content_news">
                                <p>Đôi chân khỏe mạnh, nuột nà là tài sản quý giá của phụ nữ. Yếu tố này giúp tăng sự tự tin và quyến rũ cho phái đẹp.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a href="Detail_news.html"><img class="img_news" src="~/images/about-img.jpg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a href=""> <h3>3 mẹo giúp bạn có đôi chân đẹp</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="time">21:22</span>
                                <span class="date">20/5/2021</span>
                            </div>
                            <div class="Danh_muc_lien_quan">
                                <span>
                                    <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                </span>
                            </div>
                            <div class="content_news">
                                <p>Đôi chân khỏe mạnh, nuột nà là tài sản quý giá của phụ nữ. Yếu tố này giúp tăng sự tự tin và quyến rũ cho phái đẹp.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a href="Detail_news.html"><img class="img_news" src="~/images/about-img.jpg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a href=""> <h3>3 mẹo giúp bạn có đôi chân đẹp</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="time">21:22</span>
                                <span class="date">20/5/2021</span>
                            </div>
                            <div class="Danh_muc_lien_quan">
                                <span>
                                    <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                </span>
                            </div>
                            <div class="content_news">
                                <p>Đôi chân khỏe mạnh, nuột nà là tài sản quý giá của phụ nữ. Yếu tố này giúp tăng sự tự tin và quyến rũ cho phái đẹp.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a href="Detail_news.html"><img class="img_news" src="~/images/about-img.jpg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a href=""> <h3>3 mẹo giúp bạn có đôi chân đẹp</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="time">21:22</span>
                                <span class="date">20/5/2021</span>
                            </div>
                            <div class="Danh_muc_lien_quan">
                                <span>
                                    <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                </span>
                            </div>
                            <div class="content_news">
                                <p>Đôi chân khỏe mạnh, nuột nà là tài sản quý giá của phụ nữ. Yếu tố này giúp tăng sự tự tin và quyến rũ cho phái đẹp.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class=" container news_list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 picture_option">
                            <p class="Picture_new">
                                <a href="Detail_news.html"><img class="img_news" src="~/images/about-img.jpg" alt=""></a>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="title_content_news">
                                <a href=""> <h3>3 mẹo giúp bạn có đôi chân đẹp</h3></a>
                            </div>
                            <div class="datetime_news">
                                <span class="time">21:22</span>
                                <span class="date">20/5/2021</span>
                            </div>
                            <div class="Danh_muc_lien_quan">
                                <span>
                                    <p>Danh mục:&nbsp;<strong class="sp_lien_quan">Cặp</strong></p>
                                </span>
                            </div>
                            <div class="content_news">
                                <p>Đôi chân khỏe mạnh,nuột nà là tài sản quý giá của phụ nữ. Yếu tố này giúp tăng sự tự tin và quyến rũ cho phái đẹp.</p>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </section>
    </div>
</div>
<!-- End NEWS DeTAIL-->
