


<div class="content-page">

    <!-- Start content -->
    <div class="content">
       
        <div class="container-fluid">
            <div class="row content-box">
                <h5>LOẠI SẢN PHẨM</h5>
            </div>
                
            <div class="row content-box">
                <div class="col-md-4">

                </div>
                <div class="col-md-8 button_nav_record">
                    <div id="btnAdd" class="btnAdd"></div>

                    <div id="btnSave" class="btnSave"></div>
                    <div id="btnLoadData" class="btnLoadData"></div>
                    <div id="popup"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 content-box">
                    <div id="gridList"></div>

                </div>

            </div>
            </div>

        </div>
    <!-- END content -->

</div>
<style>
    img{
        width: 100%
    }
</style>

<script type="text/javascript">


    $(function () {

        $("#btnAdd").dxButton({
            text: "Thêm",
            icon: "inserttable",
            onClick: function () {

                popupAdd.show();
                $("#input-Name").dxTextBox("instance").option("value", "");

                $("#input-Detail").dxTextBox("instance").option("value", "");

                $("#input-Status").dxCheckBox("instance").option("value", "");
              
                document.getElementById("IM").src = "";
                document.getElementById("photoUrl").value = "";
            }
        });

        $("#btnSave").dxButton({
            text: " Lưu ",
            icon: "save",
            onClick: function () {
                //Save action
                $("#gridList").dxDataGrid("instance").saveEditData();
            }
        });


        $("#btnLoadData").dxButton({
            text: "Nạp dữ liệu",
            icon: "refresh",
            onClick: function () {
                //loadData();
                loadGrid();
            }
        });

    });

    $(document).ready(function () {
        //loadData();
        loadGrid();
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#IM').attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    var popupAdd = $("#popup").dxPopup({
        width: 700,
        height: 450,
        toolbarItems: [{
            widget: "dxButton",
            location: "after",
            toolbar: "bottom",
            options: {
                text: "Lưu",
                onClick: function (e) {
                    var inputName = $("#input-Name").dxTextBox("instance").option("value");
                    var inputChiTiet = $("#input-Detail").dxTextBox("instance").option("value");
                    var inputTrangThai = $("#input-Status").dxCheckBox("instance").option("value");
                    var data = new FormData();
                    data.append("Name", inputName)
                    data.append("Detail", inputChiTiet)
                    data.append("Status", inputTrangThai)
                    data.append("file", document.getElementById("photoUrl").files[0])

                    $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: "@Url.Action("InsertlstCategory", "Category")",
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result.IsSuccess == true) {
                                if (result.Data.Status == 1) {
                                    $("#input-Name").dxTextBox("instance").option("value", "");

                                    $("#input-Detail").dxTextBox("instance").option("value", "");

                                    $("#input-Status").dxCheckBox("instance").option("value", "");
                                    document.getElementById("photoUrl").value = "";
                                    popupAdd.hide();
                                    $("#gridList").dxDataGrid("instance").refresh();

                                    DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                } else if (result.Data.Status == -2) {
                                    DevExpress.ui.notify("Lưu tệp lỗi.", "Warning", 3000);
                                }
                                else {
                                    DevExpress.ui.notify(result.Data.Message, "Warning", 3000);
                                }
                            }
                            else {
                                DevExpress.ui.notify(result.ReturnMessage, "Warning", 3000);
                            }
                        },
                        error: function () {
                            DevExpress.ui.notify("API lỗi", "error", 3000);
                        }
                    });
    }
            }
        }, {
            widget: "dxButton",
            location: "after",
            toolbar: "bottom",
            options: {
                text: "Thoát",
                onClick: function (e) {
                    $("#input-Name").dxTextBox("instance").option("value", "");

                    $("#input-Detail").dxTextBox("instance").option("value", "");

                    $("#input-Status").dxCheckBox("instance").option("value", "");
                    document.getElementById("photoUrl").value = "";
                    popupAdd.hide();
                    document.getElementById("IM").src ="";
                    document.getElementById("photoUrl").value = "";

                }
            }
            },
        ],
        contentTemplate: function (container) {
            var view = $("<div>").append(
                $("<div class='row p-1' />").append(
                    $("<div class='col-3 mt-2'>Tên loại sản phẩm: </div>"),
                    $("<div class='col-9 mt-2' id='input-Name'>").dxTextBox({
                        showClearButton: true,
                        placeholder: "Nhập tên loại sản phẩm"
                    }),
                    $("<div class='col-3 mt-2'>Hình Ảnh: </div>"),
                    $("<div class='col-9 mt-2'><form id='form-data'  method = 'post' enctype = 'multipart/form-data' > <input type = 'file' name='file' id = 'photoUrl' onchange='readURL(this)'  /><br><img id='IM' src='#' alt='your image' /></form></div > "),

                    $("<div class='col-3 mt-2'>Chi tiết: </div>"),
                    $("<div class='col-9 mt-2' id='input-Detail'>").dxTextBox({
                        showClearButton: true,
                        placeholder: "Nhập chi tiết"
                    }),
                    $("<div class='col-3  mt-2'>Trạng thái: </div>"),
                    $("<div class='col-9 mt-2' id='input-Status'>").dxCheckBox({
                        value: false,
                        text: "Đã xóa"
                    })
                )
            );
            view.dxScrollView({
                width: '100%',
                height: '100%',
                useNative: true,
                scrollByContent: true,
            });
            return view;
        },
        showTitle: true,
        title: "Thêm Loại sản phẩm",
        dragEnabled: false,
    }).dxPopup("instance");


    function loadGrid(jsonData) {

        var transportStore = new DevExpress.data.CustomStore({
            key: ["ID", "Name", "Image", "Detail",
                "Status"],
            load: function () {
                return sendRequest("Category/GetlstCategory", "GET", "")
            },
            insert: function (values) {

                return sendRequest("Category/InsertlstCategory", "POST", JSON.stringify(values));
            },
            update: function (key, values) {

                return sendRequest("Category/UpdatelstCategory?value=" + JSON.stringify(values), "POST", JSON.stringify(key));
            },
            //remove: function (key) {
            //    return sendRequest("Category/DeletelstCategory?id=" + key, "DELETE", "");
            //}
        });

        //Pref: https://js.devexpress.com/Documentation/Guide/UI_Components/DataGrid/Editing/

        //Load grid
        $("#gridList").dxDataGrid({
            //dataSource: jsonData,
            dataSource: transportStore,

            showColumnLines: true,
            showRowLines: true,
            showBorders: true,

            paging: {
                pageSize: 5
            },
            pager: {
                visible: true,
                allowedPageSizes: ['ALL'],
                showPageSizeSelector: false,
                showInfo: false,
                showNavigationButtons: false
            },
            scrolling: {
                useNative: true,
                columnRenderingMode: 'virtual'
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },

            headerFilter: {
                visible: true
            },
           
            headerFilter: {
                visible: true
            },




            columns: [
                 {
                    type: "buttons",
                    width: 80,
                    caption: "Công cụ",
                    buttons: [{
                        hint: "edit",
                        icon: "edit",

                        onClick: function (e) {
                            var dataEdit = e.row.key;
                            var popup = $("#popup").dxPopup({
                                width: 700,
                                height: 450,
                                toolbarItems: [{
                                    widget: "dxButton",
                                    location: "after",
                                    toolbar: "bottom",
                                    options: {
                                        text: "Lưu",
                                        onClick: function (e) {
                                            var inputName = $("#input-Name").dxTextBox("instance").option("value");
                                            var inputChiTiet = $("#input-Detail").dxTextBox("instance").option("value");
                                            var inputTrangThai = $("#input-Status").dxCheckBox("instance").option("value");
                                            var data = new FormData();
                                            data.append("ID", dataEdit.ID)
                                            data.append("Name", inputName)
                                            data.append("Detail", inputChiTiet)
                                            data.append("Status", inputTrangThai)
                                            data.append("file", document.getElementById("photoUrl").files[0])
                                            if (document.getElementById("photoUrl").files[0] == null)
                                                data.append("Image", dataEdit.Image)
                                            $.ajax({
                                                type: "POST",
                                                enctype: 'multipart/form-data',
                                                url: "@Url.Action("UpdatelstCategory", "Category")",
                                                data: data,
                                                contentType: false,
                                                processData: false,
                                                success: function (result) {
                                                    if (result.IsSuccess == true) {
                                                        if (result.Data.Status == 1) {
                                                            $("#input-Name").dxTextBox("instance").option("value", "");

                                                            $("#input-Detail").dxTextBox("instance").option("value", "");

                                                            $("#input-Status").dxCheckBox("instance").option("value", "");
                                                            document.getElementById("photoUrl").value = "";
                                                            popup.hide();
                                                            $("#gridList").dxDataGrid("instance").refresh();

                                                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                                        } else if (result.Data.Status == -2) {
                                                            DevExpress.ui.notify("Lưu tệp lỗi.", "Warning", 3000);
                                                        }
                                                        else {
                                                            DevExpress.ui.notify(result.Data.Message, "Warning", 3000);
                                                        }
                                                    }
                                                    else {
                                                        DevExpress.ui.notify(result.ReturnMessage, "Warning", 3000);
                                                    }
                                                },
                                                error: function () {
                                                    DevExpress.ui.notify("API lỗi", "error", 3000);
                                                }
                                            });
                                        }
                                    }
                                }, {
                                    widget: "dxButton",
                                    location: "after",
                                    toolbar: "bottom",
                                    options: {
                                        text: "Thoát",
                                        onClick: function (e) {
                                            $("#input-Name").dxTextBox("instance").option("value", "");

                                            $("#input-Detail").dxTextBox("instance").option("value", "");

                                            $("#input-Status").dxCheckBox("instance").option("value", "");
                                            document.getElementById("photoUrl").value = "";
                                            popup.hide();
                                            document.getElementById("IM").src = "";
                                            document.getElementById("photoUrl").value = "";

                                        }
                                    }
                                },
                                ],
                                contentTemplate: function (container) {
                                    var view = $("<div>").append(
                                        $("<div class='row p-1' />").append(
                                            $("<div class='col-3 mt-2'>Tên loại sản phẩm: </div>"),
                                            $("<div class='col-9 mt-2' id='input-Name'>").dxTextBox({
                                                showClearButton: true,
                                                value: dataEdit.Name,
                                                placeholder: "Nhập tên loại sản phẩm"
                                            }),
                                            $("<div class='col-3 mt-2'>Hình Ảnh: </div>"),
                                            $(`<div class='col-9 mt-2'><form id='form-data'  method = 'post' enctype = 'multipart/form-data' > <input type = 'file' name='file' id = 'photoUrl' onchange='readURL(this)'  /><br><img id='IM' src="${'/' + dataEdit.Image}" alt='your image' /></form></div > `),

                                            $("<div class='col-3 mt-2'>Chi tiết: </div>"),
                                            $("<div class='col-9 mt-2' id='input-Detail'>").dxTextBox({
                                                showClearButton: true,
                                                value: dataEdit.Detail,
                                                placeholder: "Nhập chi tiết"
                                            }),
                                            $("<div class='col-3  mt-2'>Trạng thái: </div>"),
                                            $("<div class='col-9 mt-2' id='input-Status'>").dxCheckBox({
                                                value: dataEdit.Status,
                                                text: "Đã xóa"
                                            })
                                        )
                                    );
                                    view.dxScrollView({
                                        width: '100%',
                                        height: '100%',
                                        useNative: true,
                                        scrollByContent: true,
                                    });
                                    return view;
                                },
                                showTitle: true,
                                title: "Sửa Loại sản phẩm",
                                dragEnabled: false,
                            }).dxPopup("instance");
                            popup.show();
                        }
                    },
                        {
                            hint: "delete",
                            icon: "trash",

                        }]
                },

                {
                    caption: "Hình ảnh",
                    dataField: "Image",

                    width: 200,
                    alignment: "center",
                    cellTemplate: function (container, options) {
                        var linkImg;
                        if (options.key.Image == null) {
                            linkImg = "#"
                        }
                        else {
                            linkImg = "/" + options.key.Image;
                        }

                        $("<div id='dropzone-external' class=' flex-box dx-theme-border-color'>")
                            .append($("<img id='dropzone-image'  src='" + linkImg + "' />")
                            ).appendTo(container)

                    }
                },

                {
                    dataField: "Name",
                    dataType: "string",
                    caption: "Name",
                    width: 200,

                    alignment: "center",
                    cellTemplate: function (container, options) {
                        $("<div style='margin-top:30px'>").append(
                            $("<div>" + options.text + "</div>"),
                        ).appendTo(container)
                    },
                },

                {
                    dataField: "Detail",
                    dataType: "string",

                    caption: "Detail",
                    width: 600,
                    alignment: "center",
                    cellTemplate: function (container, options) {
                        $("<div style='margin-top:30px'>").append(
                            $("<div>" + options.text + "</div>"),
                        ).appendTo(container)
                    },
                },


                {
                    dataField: "Status",
                    dataType: "boolean",
                    caption: "Status",
                    alignment: "center",

                },




            ],

        }).dxDataGrid("instance");
    };

    function sendRequest(url, method, data) {
        var d = $.Deferred();
        $.ajax({
            type: method,
            url: url,
            data: data,
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (res) {
                d.resolve(res);
            },

        });

        return d.promise().done(function (result) {
            if (result.IsSuccess == 1) {
                if (result.Data.Status == 1) {

                    DevExpress.ui.notify(result.Data.Message, "success", 3000);
                }
                else {
                    DevExpress.ui.notify("Fail: " + result.Data.Message, "error", 3000);

                }
            }
            if (result.Status == 1) {
                DevExpress.ui.notify(result.Message, "success", 3000);
            }
            else if (result.Status == -1) {
                DevExpress.ui.notify("Fail: " + result.Message, "error", 3000);
            }



        });
    };
</script>


